<div style="text-align:center">
  <h1>Sail Logic :)</h1>
</div>
<div>
  <p>Post command:</p>
  <input [(ngModel)]="inputCommandID"
  placeholder="Command ID">
  <input [(ngModel)]="inputCommnadValue"
  placeholder="Command Value">
  <button (click)="onSubmitCommand()">Send Command</button>
</div>
<div>
  <p>Post ExistingState:</p>
  <input [(ngModel)]="inputBoatSpeed"
  placeholder="Boat Speed">
  <input [(ngModel)]="inputBoatDirection"
  placeholder="Boat direction">
  <input [(ngModel)]="inputWindSpeed"
  placeholder="Wind Speed">
  <input [(ngModel)]="inputWindDirection"
  placeholder="Wind direction">
  <button (click)="onSubmitState()">Send Command</button>
</div>
<ul>
  <li *ngFor="let model of list1">
    {{model}}
  </li>
</ul>
<ul>
  <li *ngFor="let model of list2">
    {{model}}
  </li>
</ul>